@page
@model movietheatre.Pages.Details.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails[0].total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails[0].Products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails[0].OrderHeader)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderDetails) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderHeader.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
