@page
@model movietheatre.Pages.checkout.IndexModel

@{
    ViewData["Title"] = "Index";
    double total = 0;
}

<!-- Derrived from Cart Model -->

<h1>Cart</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cart[0].customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cart[0].product)
            </th>
            <th>             
                @Html.DisplayNameFor(model => model.Cart[0].quantity)               
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cart) if (item.customer.email == User.Identity.Name)
{ 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer.fname)
            </td>
            <td>
                @{ 
                @Html.DisplayFor(modelItem => item.product.name)
                    total += item.quantity * item.product.price;
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<br/>

<p>Total:&nbsp;$@String.Format("{0:0.00}", total)</p>

<a asp-page="../Payment/Create">Proceed to Payment</a>
