@page
@model movietheatre.Pages.ReceiptModel
@{
    double total = 0.0;
}
    <h2>Checkout Information </h2>

    <table class="table">
        
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                       Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cart) if (item.customer.email == User.Identity.Name)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.product.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.product.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quantity)
                        </td>
                        <td>
                            @{
                                var itemprice = "$" + String.Format("{0:0.00}", item.product.price);
                                total += item.quantity * item.product.price;
                                @Html.DisplayFor(modelItem => itemprice)
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>

        <p>Total:&nbsp;$@String.Format("{0:0.00}", total)</p>

        <h2> Enter Billing Information </h2>

        First Name: @Html.DisplayFor(model => model.Cart[0].customer.fname)

        <br />

        Last Name : @Html.DisplayFor(model => model.Cart[0].customer.lname)

        <br /><br />

        <form method="post">

            <label for="c">Card Number:</label><br>
            <input type="text" name="cnum" pattern=".{16,16}" required title="16 digits required" /> <br />

            <label for="ad">Address:</label><br>
            <input type="text" name="addy" required/> <br />

            <label for="cy">City:</label><br>
            <input type="text" name="city" required/> <br />

            <label for="st">State:</label><br>
            <input type="text" name="state" required/> <br />

            <br />

            <input type="submit" value="Submit Order">
        </form>

   
